@import "../../../../scss/constants.scss";

:host {
  display: flex;
  padding: $gutter;
  display: flex;
  flex-direction: column;
  flex: 1;
    height: 100%;
    width: 100%;
}

.root {
  width: 100%;
  height: 100%;
}