<div class="root">
  <mat-card>
    <mat-card-title>
      Отправьте нам сообщение
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Сообщение"
          formControlName="login"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Опишите проблему</mat-label>
        <textarea matInput placeholder="Здравствуйте! У меня..."></textarea>
      </mat-form-field>

      <button mat-button>Отправить</button>


    </mat-card-content>
  </mat-card>
</div>