@import "../../../../scss/constants.scss";

:host {
  padding: $gutter;
}

.prediction {
  display: flex;
  color: #443480;
  width: 352px;

  &__content {
    display: flex;
    flex-flow: row wrap;
  }

  &__block {
    width: 150px;
    height: 100px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #443480;
  }

  &__value {
    font-size: 40px;
    line-height: 54px;
    color: #443480;
    font-weight: bold;
  }

  &__description {
    color: #443480;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }

  &__gradient {
    margin: 5px 0;
    width: 128px;
    height: 6px;
    background: linear-gradient(270deg, #F06F7D 0%, #E2CE18 28.12%, #94C576 42.19%, #94C576 63.54%, #0997E8 100%);
    border-radius: 8px;
    position: relative;

    &__spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #FFFFFF;
      background-color: #443480;
    }
  }
}