:host {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  flex: 1 1 auto;
  min-height: 1px;
  overflow: hidden;
}


.chat-bot {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}